.title {
  text-align: center;
}

.imageContainer {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.image {
  width: 100%;
}

.header {
  background: #B26AD6;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  margin: 0 1em;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 700;
  background: transparent;
  border: none;
  outline: none;
}

.active {
  composes: link;
  border-bottom: 1px solid black;
}